/*
COLORS
jaune : #d5dc00
bleu du menu 142e7e
bleu du bouton de recherche 586aa3
bleu champs formulaire b1bad4
nuance tableau 1 8794bd
nuance tableau 2 b8c0d8
 */
@font-face {
    font-family: 'alba';
    src: url("typo/alba.TTF");
}
body{
    font-family: "Futura Std Condensed","Gotham Light",Arial,sans-serif;
    font-size: 10pt;

}
header{
    position: sticky;
    top: 0;
    background-color: #d5dc00;
    width: 100%;
    height: 15vh;
    min-height: 140px;
}

header img{
    height: 8vh;
    min-height: 80px;
    padding-top: 5px;
}

main{
    margin: auto;
    background-color: white;
    width: 80vw;
    height: 80vh;
    min-height: calc(100vh - 190px);
}

a{
    color:inherit;
    text-decoration: none;
}

li a:hover{
    color: #8794bd;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex-end;
}

nav li {
    margin-right: 1rem;
}

li a{
    font-family: 'alba';
    font-size: 25px;
    color: #142e7e;
}

.container{
    text-align: center;
}

.bg{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50vw;
    position: fixed;
    z-index: -1;
}
.l{
    background-position-x: -10vw;
}
.r{
    right: 0;
}

footer{
    background-color: #d5dc00;
    height: 5vh;
    min-height: 50px;
    padding-top: 11px;
    padding-bottom: 11px;
}

h1{
    padding: 20px;
}
.p-infos-show{
    text-align: left;

    margin-left: auto;
    margin-right: auto;
    width:300px;
    margin-bottom: 20px;
    font-family: Arial, serif;

}
.p-infos-show>div{
    margin: 10px 10px 10px 10px;

}
#btt{
    box-shadow: 3px 3px 3px black;
}
.selfleft{
    float: left;
    width: 35%;
    padding-top: 44px;

}
.selfleft>img{
    text-align:center;
    width: 200px;
    box-shadow: #b3c0e7 5px 5px;
}
.selfRight>form{
    text-align: left;

}
input,select{
    width: 55%;
    border: #b3c0e7 1px solid;
}
label{
    width: 34%;
    display: inline-block;
    padding-top: 14px;
}
button{
    width: 150px;
    height: 50px;
    background-color: #d5dc00;
    border: none;
    box-shadow: #4160c1 3px 3px;
    margin: 15px;
    font-family: alba;
    font-size: 15pt;
    color: #4160c1;
}
.selfRight{
    box-shadow: #b3c0e7 -5px 5px;
    padding-left: 17px;
    background-color: #f1f1f1;
    margin-top: 15px;
    margin-right: 15px;
    width: 60%;
    float: left;

}