{% extends 'base.html.twig' %}

{% block title %}Ajouter plusieurs users{% endblock %}

{% block body %}
    <h1>Import d'un fichier CSV</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}