<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>

    <header>
        <div class="container">

        </div>
    </header>
    <main>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="container">
            <h4>Sortir.com &copy; {{ "now" | date("Y") }}</h4>
        </div>
    </footer>

</body>
</html>