<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Home">Accueil</a></li>
        <li><a href="{{ path('sortie_create') }}" title="Creer sortie">Créer sortie</a></li>
        <li><a href="{{ path('participant_self') }}" title="Profil">Mon profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="Logout">Déconnexion</a></li>
    </ul>
</nav>