<nav>
    <ul>
        <li><a href="{{ path('participant_index') }}" title="Index profil">Index profils</a></li>
        <li><a href="{{ path('participant_create') }}" title="Creer profil">Créer profil</a></li>
        <li><a href="{{ path('participant_addWithFile') }}" title="Ajouter profils via csv">Ajout profils</a></li>
        <li><a href="#" title="Villes">Villes</a></li>
        <li><a href="#" title="Campus">Campus</a></li>
    </ul>
</nav>